.callnow{
    border: none;
    border-radius: 7px;
    font-weight: 500;
    width: 100px;
    height: 30px;
    background: none;
    color: #fff;
    border: 2px solid $third-color;  
    box-shadow: inset 0 0 0 0 $third-color;
    cursor: pointer; 
    @include transition;

    &:hover{
        color: black;
        box-shadow: inset 100px 0 0 0 $third-color;
        @include transition;
    }


}