body{
    box-sizing: border-box;
}

.container{
    width: 600px;
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
    box-shadow: 1px 2px 5px #e2e2e2;
    position : absolute;
    top: 10vh;
    left: 10vw;

    img{
        width: 200px;
        height: 200px;
        margin: 10px;
    }
    .text{
        margin-left: 20px;
        margin-right: 10px;
        p{
            font-size: 15px;
        }
        ul{
            margin: 5px;
            padding: 0%;
            float: right;
            list-style: none;
            display: flex;
            
            li{
                padding: 5px;

                i{
                    font-size: 22px;
                }
            }
        }
    }
}
    .container::before{
        content: '';
        position: absolute;
        top: -5px;
        left: -5px;
        width: 10%;
        height: 20%;
        border-top: 2px solid red;
        border-left: 2px solid red;
        z-index: 1;
        
    }
    .container::after{
        content: '';
        position: absolute;
        bottom: -8px;
        right: -8px;
        width: 10%;
        height: 20%;
        border-right: 2px solid red;
        border-bottom: 2px solid red;
        z-index: 1;
        
    }
h2{
    box-shadow: inset 0 0 0 0 lightblue;
    transition: all 1s ease-in-out;
    cursor: pointer;
}
h2:hover{
    box-shadow: inset 200px 0 0 0 lightblue;
    span{
        transition: all 1s;
        color: white;
    }
}
span{
    color: red;
}
