@import 'config';

.pjname{
    color: white;
    font-size: 32px;
    position: absolute;
    font-weight: 700;
    top: 10vh;
    left: 50vw;
    transform: translate(-50% , -50%);
}
#pj{
    background: url("../3.png");
    background-attachment: fixed;
    background-size: cover;
}
.projectcontainer{
    position: absolute;
    top: 30vh;
    left: 20vw;
    width: 60vw;
    height: 40vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: none;
}

.projectcontainer::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    border-top: 2px solid lightblue;
    border-left: 2px solid lightblue;
    width: 5%;
    height: 20%;
    @include transition;
}
.projectcontainer::after{
    content: '';
    position: absolute;
    bottom: 0px;
    right : 0px;
    border-bottom: 2px solid lightblue;
    border-right: 2px solid lightblue;
    width: 5%;
    height: 20%;
    @include transition;
}

    .project{
        position: relative;
        margin:10px;
        cursor: pointer;

        img{
            border-radius: 7px;
            display: block;
            width: 100%;
            height: 100%;
        }
        .text{
            border-radius: 7px 7px 7px 7px;
            position: absolute;
            background: rgba($color: lightblue, $alpha: 0.90);
            width: 100%;
            top: 100%;
            height: 0%;
            left: 0%;
            right: 0%;
            overflow: hidden;
            outline: none;
            visibility: hidden;
            @include transition();
        }
        .text1{
            text-align: left;
            color: black;
            position: inherit;
            top: 50%;
            left: 50%;
            transform: translate(-50% , -50%);
        }
    }
.project:hover{

    .text{
        visibility: visible;
        top:0%;
        height: 100%;
        @include transition();
    }

}

@include tablet{
    .projectcontainer{
        grid-template-columns: 1fr 1fr;
    }
    .text1{
        font-size: 15px;
    }
}
@include mobile(){
    .pjname{
        visibility: hidden;
    }
    .projectcontainer{
        top: 0vh;
        grid-template-columns: 1fr;
        height: 100vh;
    }
    .text1{
        font-size: 13px;
    }
}